<!-- PAGE HEADER -->
<div class="row">
    <div class=" col-lg-12">
        <h1 class="page-header"><i class="glyphicon glyphicon-pencil"></i> Umami-Nation |
            <small>Orders</small>
        </h1>
    </div>
</div>
<div *ngIf="products">
    <div *ngIf="products.length<1">
        No products were found.
    </div>
    <div class="col-sm-9">
        <ul class="list-group">
            <li draggable *ngFor="let product of products" [dragData]="product" class="list-group-item">
                {{product.name}}
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
            <div class="panel-heading">Drop Items here</div>
            <div class="panel-body">
                <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>
</div>
<div *ngIf="orders">
    <div *ngIf="totalItems<=0">
        No orders were found.
    </div>
    <div class="row">
        <div class="row-height"></div>
        <div class="col-height col-sm-6 col-md-4" *ngFor="let o of orders; let i=index">
            <div class="thumbnail">
                <div class="content">
                    <div class="caption">
                        <ul class="list-group list-unstyled">
                            <li class="label-primary">
                                <label for="name">ID:</label>
                                <span>{{ o.id }}</span>
                            </li>
                            <li class="label-primary">
                                <label for="name">Product:</label>
                                <span>{{ o._links.product.href }}</span>
                            </li>
                            <li class="label label-default">
                                <label for="order_start">Order (Start):</label>
                                <span>{{ o.orderStart }}</span>
                            </li>
                            <li class="label label-default">
                                <label for="kitchen_start">Kitchen (Start):</label>
                                <span>{{ o.kitchenStart }}</span>
                            </li>
                            <li class="label label-default">
                                <label for="kitchen_end">Kitchen (End):</label>
                                <span>{{ o.kitchenEnd }}</span>
                            </li>
                            <li class="label label-default">
                                <label for="order_end">Order (End):</label>
                                <span>{{ o.orderEnd }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="attribution text-right" style="padding-right: 20px;">
                        <h4>
                            <a [routerLink]="[o._links.self.href]">Details</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
