<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/orders" i18n="nav element|link to orders@@navOrders">Orders</a>
        </li>
        <li>
          <a href="/kitchen">Kitchen</a>
        </li>
        <li>
          <a href="/archive">Archive</a>
        </li>
        <li>
          <a href="/products">Products</a>
        </li>
        <li>
          <a href="/admin">User</a>
        </li>
      </ul>
      <div class="btn-logout">
        <div style="display: inline-block">LanguageSelector</div>
        <div style="display: inline"><a name="logout" href="/logout">Logout</a></div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
    <!-- CONTENT -->
    <div id="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Mooneye 2017</p>
            </div>
        </div>
    </footer>
</div>