<!-- PAGE HEADER -->
<div class="row">
    <div class=" col-lg-12">
        <h1 class="page-header"><i class="glyphicon glyphicon-list"></i> Umami-Nation | <small>Products</small></h1>
    </div>
</div>
<div *ngIf="products">
    <div *ngIf="totalItems<=0">
        No products were found.
    </div>
    <div *ngIf="totalItems>0">
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let product of products; let i=index">
                <div class="thumbnail">
                    <div class="content">
                        <div class="caption">
                            <ul class="list-group list-unstyled">
                                <li class="label-primary">
                                    <label for="name">Name:</label>
                                    <span>{{ product.name }}</span>
                                </li>
                                <li class="label label-default">
                                    <label for="price">Preis:</label>
                                    <span>{{ product.price }}</span>
                                </li>
                                <li class="label label-default">
                                    <label for="duration">Dauer:</label>
                                    <span>{{ product.duration }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="attribution text-right" style="padding-right: 20px;">
                            <h4>
                                <a [routerLink]="[links[i].href]">Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
